################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/first-round/bin/Debug
/first-round/obj/Debug
/.vs/code-retreat/v15
/meaningful-names/obj/Debug
/meaningful-names/bin/Debug
/extract-method/obj/Debug
